<!DOCTYPE html>
<html> <head> </head> <body>

<form action="/delete" method="POST">
	<p> Email to delete: </p>
	<input type="text" name="email">
	<input type="submit" value="delete">
</form>
</body>
</html>