<!DOCTYPE html>
<html> <head> </head> <body>

<form action="/create" method="post">
	
<h1> Sign up to be on our email list!</h1>
<br>
<!--<span> Name  </span>  -->
<!--	<Input type="text" name="name">-->
<span>   Email </span>
	<Input type="text" name="email">	
	<br>
	<br>
	<Input type="submit" value="Submit">	
	<br>
		
</form>	
	
</body> </html>